services:
  qdrant:
    image: qdrant/qdrant:latest
    container_name: rag_arabic_chatbot-qdrant
    ports:
      - "6333:6333"
    volumes:
      - ./data/qdrant_storage:/qdrant/storage

  ragapp:
    build: .
    image: rag_arabic_chatbot-ragapp
    environment:
      QDRANT_URL: http://qdrant:6333
      EMB_MODEL: abdulrahman-nuzha/intfloat-multilingual-e5-large-arabic-fp16
      GEN_MODEL: models/gemini-2.5-flash
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEN_MAX_NEW_TOKENS: 512
      GEN_TEMPERATURE: 0.4
      RETR_TOP_K: 5

    volumes:
      - ./data:/app/data
    depends_on:
      - qdrant
    stdin_open: true
    tty: true

  chat:
    image: rag_arabic_chatbot-ragapp
    command: python -m ragchat.cli.chat_cli
    environment:
      QDRANT_URL: http://qdrant:6333
      EMB_MODEL: abdulrahman-nuzha/intfloat-multilingual-e5-large-arabic-fp16
      GEN_MODEL: models/gemini-2.5-flash
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEN_MAX_NEW_TOKENS: 512
      GEN_TEMPERATURE: 0.4
      RETR_TOP_K: 5
    volumes:
      - ./data:/app/data
    depends_on:
      - qdrant
    stdin_open: true
    tty: true

  evaluate:
    image: rag_arabic_chatbot-ragapp
    command: python -m ragchat.cli.evaluate_cli --n 50
    environment:
      QDRANT_URL: http://qdrant:6333
      EMB_MODEL: abdulrahman-nuzha/intfloat-multilingual-e5-large-arabic-fp16
      GEN_MODEL: models/gemini-2.5-flash
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEN_MAX_NEW_TOKENS: 512
      GEN_TEMPERATURE: 0.4
      RETR_TOP_K: 5
    volumes:
      - ./data:/app/data
    depends_on:
      - qdrant

  backend:
    build: .
    image: rag_arabic_chatbot-ragapp
    command: python backend/manage.py runserver 0.0.0.0:8000
    environment:
      APP_MODE: backend
      DJANGO_SETTINGS_MODULE: backend.settings
      API_SECRET: ${API_SECRET}
      QDRANT_URL: http://qdrant:6333
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      EMB_MODEL: ${EMB_MODEL}
      GEN_MODEL: ${GEN_MODEL}
      GEN_MAX_NEW_TOKENS: ${GEN_MAX_NEW_TOKENS}
      GEN_TEMPERATURE: ${GEN_TEMPERATURE}
      TOP_K: ${TOP_K}

    volumes:
      - ./backend:/app/backend
      - ./ragchat:/app/ragchat
      - ./data:/app/data

    ports:
      - "8000:8000"
    depends_on:
      - qdrant
